:host {

  height: 100%;
  display: block;
  overflow: auto;

  .progress-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #99206C;
    color: white;

    div {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  .mat-mdc-card {
    color: white;
    margin: 2rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    &:nth-child(even) {
      background-color: #869B5B;
      &.correct {
        background-color: #5FA052;
      }
      &.incorrect {
        background-color: #E32525;
      }
    }
    &:nth-child(odd) {
      background-color: darkkhaki;
      &.correct {
        background-color: #5FA052;
      }
      &.incorrect {
        background-color: #E32525;
      }
    }
  }

  .options {
    background-color: white;
    color: black;
    margin: 1rem;

    .radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      align-items: flex-start;
    }

    .radio-button {
      margin: 5px;
    }
  }

  .correct-response {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    color: black;

    .incorrect {
      color: #E32525
    }
  }
}
