@import 'colors';
@import 'vars';

:host {
  height: $view-height;
  background-color: $green;
  background-image: $background;
  display: block;
  overflow: auto;

  .progress-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid $olive;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-image: $header-background;
    color: $white;

    div {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  .mat-mdc-card {
    color: white;
    margin: 2rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    &:nth-child(even) {
      background-color: $exam-even;
      &.correct {
        background-color: $correct;
      }
      &.incorrect {
        background-color: $incorrect;
      }
    }
    &:nth-child(odd) {
      background-color: $exam-odd;
      &.correct {
        background-color: $correct;
      }
      &.incorrect {
        background-color: $incorrect;
      }
    }
  }

  .options {
    background-color: $white;
    color: $black;
    margin: 1rem;

    .radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      align-items: flex-start;
    }

    .radio-button {
      margin: 5px;
    }
  }

  .correct-response {
    margin: 1rem;
    padding: 1rem;
    background-color: $incorrect;
    color: $white;
  }

  @media (max-width: 576px) {
    .header {
      display: none;
    }
    ::ng-deep .mat-mdc-card-header-text {
      width: 100%
    }
  }

  .mat-mdc-card-header {
    width: 100%;
  }

  .image-wrapper {
    width: 92%;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }

  .text-wrapper {
    padding-right: 0.5rem;
  }
}
