<div class="container">
  <div>
    {{flashcard.index + 1}} / {{flashcards.length}}
  </div>
  <div class="flashcard" [class.flipped]="flipped" (click)="toggle()">
    <div class="front">
      <img *ngIf="flashcard.frontImage" src="{{ 'assets/images/' + flashcard.frontImage + '.png' }}">
      {{flashcard.frontText}}
    </div>
    <div class="back">
      <div class="content">
        <p *ngFor="let text of flashcard.backText">{{ text }}</p>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="previous()" [disabled]="index === 0"><<<</button>
    <button mat-raised-button color="primary" (click)="next()" [disabled]="index === flashcards.length - 1">>>></button>
  </div>
</div>
