@import 'colors';
@import 'vars';

:host {

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: $view-height;
    background-color: $green;
    background-image: $background;
    color: $white;
  }

  .flashcard {
    height: 75%;
    width: 75%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
  }

  .flashcard div {
    font-size: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 2px solid $olive;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;

    p, span {
      padding: 1rem;
    }
  }

  .flashcard .front {
    color: $white;
    background-image: $card-background;
  }

  .flashcard .back {
    transform: rotateY(180deg);
    color: $white;
    background-image: $card-hover;
  }


  .flashcard.flipped {
    transform: rotateY(180deg);
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
