<div class="content drivers-ed">
  <mat-card class="menu-card" routerLink="/flashcards">
    <mat-card-header>
      <mat-card-title>Flashcards</mat-card-title>
      <mat-card-subtitle>Study for your exam with a collection of flashcards.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flashcards"></mat-card-content>
  </mat-card>
  <mat-card class="menu-card" routerLink="/exams">
    <mat-card-header>
      <mat-card-title>Practice Exams</mat-card-title>
      <mat-card-subtitle>Take practice exams to prepare for your Driver Knowledge Test.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="exams"></mat-card-content>
  </mat-card>
  <mat-card class="menu-card" routerLink="/scores">
    <mat-card-header>
      <mat-card-title>Exam Scores</mat-card-title>
      <mat-card-subtitle>Review your scores to see if you are ready to take your test.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="scores"></mat-card-content>
  </mat-card>
</div>
