$black: #19181A;
$light-teal: #DA7B93;
$sand: #FCCD04;
$teal: #8590AA;


$dark-cyan: #026670;
$lemon: #FCE181;
$light-violet: #EDEAEF;
$mint: #9FEDD7;
$yellow: #FEF9C7;

$green: #687864;
$blue1: #31708E;
$blue2: #5085A5;
$blue3: #8FC1E3;
$white: #F7F9FB;
$header: #1F2605;

$brown: #844D36;
$dk-gray: #474853;
$olive: #8E8268;
$light-blue: #86B3D1;

$bright-green: #53900F;

$correct: $bright-green;
$incorrect: #E85A4F;
$exam-odd: $blue1;
$exam-even: $olive;
