@import 'colors';
@import 'vars';

:host {
  .content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
    justify-content: space-between;
    height: $view-height;
    background-color: $green;
    background-image: $background;

    mat-card {
      width: 30%;
      height: 60%;
      background-color: $blue1;
      background-image: $card-background;
      color: $white;
      cursor: pointer;

      &:hover {
        background-image: $card-hover;
        border: 4px solid $white;
        box-sizing: border-box;
      }

      mat-card-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: $view-height;
        position: relative;

        &:after {
          font-family: "Material Icons";
          position: absolute;
          top: 20px;
          left: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90%;
          height: 90%;
          font-size: 400px;
          background: transparent;
        }

        &.flashcards {
          &:after {
            content: "\E661";
          }
        }
        &.exams {
          &:after {
            content: "\F8EA";
          }
        }
        &.scores {
          &:after {
            content: "\E26B";
          }
        }
      }
    }

    .mat-mdc-card-subtitle {
      color: $white;
    }

    button {
      min-width: 300px;
      text-transform: uppercase;
    }
  }

  @media (max-width: 576px) {
    .content {
      flex-direction: column;
      justify-content: unset;
      mat-card {
        width: 90%;
        height: 15%;
      }
      mat-card-content {
        display: none !important;
      }

    }
  }
}
