<div class="content home">
  <mat-card class="menu-card" routerLink="/drivers-ed">
    <mat-card-header>
      <mat-card-title>Driving Knowledge Test</mat-card-title>
      <mat-card-subtitle>Prep for your driving knowledge test.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="driving"></mat-card-content>
  </mat-card>
  <mat-card class="menu-card">
    <mat-card-header>
      <mat-card-title>College Entrance Exams</mat-card-title>
      <mat-card-subtitle>Prep for the SAT and other college entrance exams.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="sat">
      <span class="coming-soon">COMING SOON!</span>
    </mat-card-content>
  </mat-card>
  <mat-card class="menu-card">
    <mat-card-header>
      <mat-card-title>PAHS</mat-card-title>
      <mat-card-subtitle>Study aides for Port Angeles High School.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="school">
      <span class="coming-soon">COMING SOON!</span>
    </mat-card-content>
  </mat-card>
</div>
